@font-face {
  font-family:'TT Lakes-Bold';
  src: url('TTLakes-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'TT Lakes-Thin';
  src: url('TTLakes-ExtraLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'TT Lakes-Medium';
  src: url('TTLakes-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


*{
    margin: 0;
}

body{
    display: flex;
    align-items:center;
    flex-direction:column;
}
.header-page{
    display: flex;
    gap: 16px;
    align-items: center;
    background-color: #FFFFFF;
    width: 320px;
    height:88px;
    border-bottom: #41F6D7 solid 1px;
}

.header-page__first-adaptive, .header-page__second-adaptive{
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-page__vline{
    box-sizing: border-box;
    height: 32px;
    width:2px;
    background-color: #EAEAEA;
}

.header-page__vline-adaptive{
    box-sizing: border-box;
    height: 32px;
    width:2px;
    background-color: #EAEAEA;
    display: none;
}

.header-page__burger-menu, .header-page__repair, .header-page__check{
    width: 40px;
    height: 40px
}

.header-page__call, .header-page__chat, .header-page__profile{
    display: none;
}

.header-page__burger-menu{
    margin-left: 16px;
}

.first-page{
    width: 320px;
    background-color:#F8F8F8;
    border-top: solid 1px #F8F8F8;
    box-sizing: border-box;
}

.first-page__title{
    font-size: 28px;
    font-family: 'TT Lakes-Bold' ;
    width: 304px;
    height: 40px;
    display: flex;
    align-items: center;
    font-weight: 700;
    gap: 12px;
    display: flex;
    margin-top: 24px;
}

.first-page__first-text{
    width: 288px    ;
}

.first-page__half-oval{
    width: 4px;
    height: 40px;
    background: #41F6D7;
    border-radius: 0 20px 20px 0;
}

.main-scroll{
    -webkit-mask-image: linear-gradient(
    to right, 
    transparent 0%,    
    black 5%,         
    black 95%,
    transparent 100%
  );
  
  mask-image: linear-gradient(
    to right, 
    transparent 0%, 
    black 5%, 
    black 95%, 
    transparent 100%
  );
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    display: flex;
    overflow-y: hidden; 
    flex-wrap: nowrap; 
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-top: 24px;
}

.scroll{
    width: 504px;
    display: flex;
    overflow-y: hidden; 
    box-sizing: border-box;

}

.scroll__first-block{
    margin-left: 16px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    font-family: 'TT Lakes-Bold';
    line-height: 24px;
    width: 246px;
    height: 40px;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7E7E82;
    flex-wrap: nowrap;
    flex-shrink: 0;

}

input[type="radio"]:checked + label {
    border-radius: 6px;
    border: solid #B8FFEC 2px;
    background-color: #FFFFFF;}
/* 
.scroll__first-block:focus{
    border-radius: 6px;
    border: solid #B8FFEC 2px;
    background-color: #FFFFFF;
} */

.scroll__second-block, .scroll__third-block, .scroll__fourth-block, .scroll__fifth-block{
    font-size: 16px;
    font-weight: 500;
    font-family: 'TT Lakes-Bold';
    line-height: 24px;
    width: 258px;
    height: 40px;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7E7E82;
    flex-shrink: 0;
    flex-wrap: nowrap;

}


.scroll__third-block{
    width: 143px;
    height: 40px;
}

.scroll__fourth-block{
    width: 233px;
    height: 40px;
}

.scroll__fifth-block{
    margin-right: 16px;
    width: 191px;
    height: 40px;
}

input[type="radio"]:checked + label {
    border-radius: 6px;
    border: solid #B8FFEC 2px;
    background-color: #FFFFFF;}

.scroll::-webkit-scrollbar {
    display: none;
}

.text-block__first-text{
    width: 288px;
    font-family: 'TT Lakes-Thin';
    color: #1B1C21;
    font-weight: 600;
    font-size: 14px;
    margin: 0 0 0 16px;
    margin-top: 24px;
}

.text-block__adaptive{
    margin-top:16px;
    display: none;
}

.text-block__arrow{
    width: 24px;
    height: 24px;
}

.text-block__next{
    display: flex;
    margin-top: 16px;
    font-family: 'TT Lakes-Medium';
    font-weight: 500;
    font-size: 16px;
    box-sizing: border-box;
    border-color: #F8F8F8;
    color: #1B1C21;
}

.text-block__main-image{
    margin-top: 16px;
    width: 320px;
    height:176px;
    margin-bottom:35px;

}

@media (min-width: 768px) and (max-height: 1119px){
    body{
        width: 100%;
        min-width:768px;
        max-width: 1119px;
        display: block;
    }

    .header-page__vline-adaptive{
        display: block;
    }

    .first-page{
        background-color:#F8F8F8;
        width: 100%;
        min-width: 768px;
        max-width: 1119px;
        margin: 0;
    }

    .header-page{
        width: 100%;
        justify-content: space-between;
        min-width:768px;
        max-width:1119px;
    }

    .header-page__call, .header-page__chat, .header-page__profile{
        display: block;
    }

    .header-page__second-adaptive{
        margin-right: 16px;
    }

    .main-scroll{
        width: 100%;
        min-width:768px;
        max-width:1119px;
        -webkit-mask-image: linear-gradient(
        to right, 
        transparent 0%,    
        black 1%,         
        black 99%,
        transparent 100%
    );
    
    mask-image: linear-gradient(
        to right, 
        transparent 0%, 
        black 1%, 
        black 99%, 
        transparent 100%
    );
    }

    .scroll{
        width: 100%;
        min-width:768px;
        max-width:1119px;
    }

    .text-block{
        display: flex;
        width: 100%;
        min-width: 768px;
        max-width: 1119px;
        justify-content: space-between;
    }

    .text-block__first-text{
        width: 312px;
        height: 208px;
    }
    .text-block__adaptive{
        display: block
    }

    .text-block__main-image{
        width: 360px;
        height: 208px;
        margin-right: 25px;
        border-radius: 4px;
    }

}